.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  background-color: #262525;
  padding-left: 32px;
  padding-right: 32px;

  span {
    margin-top: 12px;
    font-size: 32px;
  }

  .unifey {
    text-decoration: none;
  }
}

.site-header-links {
  li {
    padding-top: 8px;
    padding-right: 32px;
    display: inline-block;
  }
}
