@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200&family=Roboto:wght@300&display=swap");

$background: #292929;
$text-color: white;
$link-color: #5b5bdc;

$default-font: 'Roboto', sans-serif;
$default-header-font: 'Muli', sans-serif;
