@import '~antd/dist/antd.dark.min.css';
@import 'variables';
@import 'header';
@import 'footer';

body {
  background-color: $background;
  margin: 0;
  height: 100%
}

.container {
  min-height: calc(100vh - 70px);
}

span, h1, h2, h3, h4, h5, h6, p, a, label {
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default-header-font;
}

p, a, span, label {
  font-family: $default-font;
}

a:hover {
  color: $link-color;
}
