@import "container";
@import "variables";
@import "footer";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $default-header-font;
}

p,
a,
span,
button,
label {
    font-family: $default-font !important;
}

a:hover {
    color: $link-color;
}

.anticon {
    vertical-align: 0 !important;
}

.divider {
    border: #2c2c2c solid 1.5px;
    border-radius: 1px;
}

.variable-min-w {
    @media (max-width: 599px) {
        min-width: 12rem;
    }

    @media (min-width: 600px) and (max-width: 1199px) {
        min-width: 36rem;
    }

    @media (min-width: 1200px) {
        min-width: 48rem;
    }
}