@import 'container';
@import 'variables';
@import 'header';
@import 'footer';

@import './themes/dark';
@import './themes/light';


h1, h2, h3, h4, h5, h6 {
  font-family: $default-header-font;
}

p, a, span, label {
  font-family: $default-font;
}

a:hover {
  color: $link-color;
}

.g-active {
  color: #0066ff !important
}