.community-container {
  margin-left: 16rem;
  margin-right: 16rem;

  .community-header {
    font-size: 48px;
    text-align: center;
  }

  .community-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 0;
    min-height: 0;

    .community-about {
      border: 0px solid black;
      border-radius: 3px;
      background-color: #171616;
      padding: 16px;
      height: min-content;
      margin-top: 2.7rem;
    }
  }

  .empty-container {
    margin-top: 4rem;
  }
}
