.communities-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .communities-list {
        li {
            font-size: 16px;
        }
    }
}