@import "../variables";

.head {
  text-align: center;
  margin-top: 5px;

  .title {
    font-size: 120px;
    font-weight: normal;
  }

  .subtitle {
    font-size: 32px;
    margin-left: 4rem;
    margin-top: -7rem;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section {
    margin-top: 2rem;

    h2 {
      font-size: 24px;
      font-weight: normal;
    }
  }
}
