// A viewer for User and Community
.viewer-container {
  margin-left: 12rem;
  margin-right: 12rem;

  .viewer-header {
    font-size: 48px;
    text-align: center;
  }

  .viewer-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 0;
    min-height: 0;

    .viewer-about {
      border: 0px solid black;
      border-radius: 3px;
      background-color: #171616;
      padding: 16px;
      height: min-content;
      margin-top: 2.7rem;

      max-width: 200px;
      min-width: 200px;

      .viewer-about-section {
        text-align: center;

        .ant-typography-edit-content {
          width: 85%;
          margin-left: 1.5rem;
        }
      }
    }
  }

  .empty-container {
    margin-top: 4rem;
  }

  .spin-container {
    text-align: center;
  }
}
